# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosustem are summarized.

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Understand basic data manipulation techniques
- Learn fundamental data visualization methods
- Apply machine learning algorithms using Python

Some of the popular languages that Data Scienteists use are:
1. Python
2. R
3. Sql

Some of the commonly used libraries used by Data Scientists include:
  1. Matplotlib
  2. seaborn
  3. Numpy

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

In [1]:
### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [2]:
#This will convert 200 minnutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Huy Anh